@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --colorDark1: #112d4e;
  --colorDark2: #3f72af;
  --colorLight1: rgba(255, 255, 255, 0.7);
  --colorLight2: rgba(219, 226, 239, 0.5);
}

h1 {

  color : var(--colorDark1);
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.tabs {
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
}

.weather-container {
  margin-block: 4rem;
}

.btn {
  appearance: none;
  border: none;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: var(--colorDark2);
  cursor: pointer;
  padding: 10px 30px;
  margin-bottom: 10px;
}

.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.grant-location-container.active {
  display: flex;
}

.grant-location-container p:last-of-type {
  font-size: 0.95rem;
  font-weight: 500;
  margin-top: 0.75rem;
  margin-bottom: 1.75rem;
  letter-spacing: 0.75px;
}

.form-container {
  width: 80%;
  max-width: 550px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.form-container.active {
  display: flex;
}

.form-container input {
  width: calc(100% - 80px);
  height: 40px;
  padding: 0 20px;
  background-color: rgba(219, 226, 239, 0.5);
  border-radius: 10px;
  margin-right: 0.1rem;
  border: none;
  font-size: 20px;
  margin-right: 20px;
}

.form-container input::placeholder {
  color: var(--colorLight1);
}

.form-container input:focus {
  outline: 3px solid var(--colorLight1);
}

.form-container .btn {
  padding: unset;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-bottom: 1px;
}

.transparent-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 550;
  margin: 0 10px;
  padding: 10px;
  color: var(--colorDark1);
  transition: background-color 0.3s ease;
}

.transparent-btn.active {
  background-color: var(--colorLight2);
  border-radius: 4px;
}

.weather-info {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;;
}


.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.loading-container img {
  margin-bottom: 10px;
}

.parameter-container {
  display: flex;
  gap: 10px 20px;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.parameter {
  width: 30%;
  max-width: 200px;
  background-color: var(--colorLight2);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  align-items: center;
}

.parameter img {
  width: 50px;
  height: 50px;
}

.parameter p:first-of-type {
  font-size: 1.15rem;
  font-weight: 600;
  text-transform: uppercase;
}
.parameter p:last-of-type {
  font-size: 1.2rem;
  font-weight: 400;
}

.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notFound p {
  margin-top: 10px;
  color: var(--colorDark1);
  font-size: 20px;
  font-weight: bold;
}

.background-video {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}